* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    background: #f7f7f7;
    color: #222;
    line-height: 1.6;
}


#about, #projects {
    scroll-margin-top: 100px;
}


nav {
    background: #111;
    color: #fff;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    color: #2f0b79;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

/* HOME */
.home {
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(to bottom, #2f0b79, #111);
    color: #fff;
}

.home h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.home h1 span {
    color: #ffd1d1;
}

.home p {
    font-size: 18px;
    margin-top: 10px;
}


.title {
    text-align: center;
    color: #2f0b79;
    margin: 50px 0 20px;
    font-size: 30px;
    font-weight: bold;
}

.about {
    max-width: 900px;
    margin: auto;
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.about p {
    margin-bottom: 15px;
}


.projects {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.project-box {
    background: #fff;
    flex: 1 1 250px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    transition: 0.3s;
    text-align: center;
}

.project-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.project-box h3 {
    margin-bottom: 10px;
    color: #2f0b79;
}


.contact {
    text-align: center;
    padding: 60px 20px;
    background: #111;
    color: #fff;
}

.contact a {
    color: #2f0b79;
    text-decoration: none;
}

.contact a:hover {
    color: #fff;
}


footer {
    text-align: center;
    background: #000;
    padding: 15px;
    color: #fff;
    margin-top: 20px;
}
